<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.SetmealMapper">

    <insert id="inset" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO setmeal(category_id, name, price, description,
                            image, create_time, update_time, create_user, update_user)
            VALUE (#{categoryId}, #{name},
                   #{price}, #{description},
                   #{image}, #{createTime},
                   #{updateTime}, #{createUser},
                   #{updateUser})
    </insert>
    <select id="selectPage" resultType="com.sky.vo.SetmealVO">
        SELECT t1.*,t2.name categoryName FROM setmeal t1 LEFT JOIN category t2
        ON t1.category_id = t2.id
        <where>
            <if test="name!=null">
                AND t1.name LIKE CONCAT('%',#{name},'%')
            </if>
            <if test="categoryId!=null">
                AND t1.category_id=#{categoryId}
            </if>
            <if test="status!=null">
                AND t1.status=#{status}
            </if>
        </where>
        LIMIT #{page},#{pageSize}
    </select>
</mapper>